<!DOCTYPE html>
<html>
<head>
	<title>App</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<% if user_signed_in? %>
				<%= render 'layouts/user_navbar'%>
			<% else %>
				<%= render 'layouts/guest_navbar'%>
			<% end %>
		</header>
		<div id="content" class="container">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<% if notice %>
						<p class="alert alert-success">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<%= notice %>
						</p>
					<% end %>
					<% if alert %>
						<p class="alert alert-danger">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							<%= alert %>
						</p>
					<% end %>
				</div>
				<div class="col-md-4"></div>
			</div>
			<%= yield %>
		</div>
	</body>
</html>
