<h1>Support Requests</h1>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Shared key</th>
			<th>Ttl</th>
			<th>Expired?</th>
			<th>Tunnel created at</th>
			<th>Tunnel available?</th>
			<th colspan="1"></th>
		</tr>
	</thead>

	<tbody>
	<% @support_requests.each do |support_request| %>
		<tr>
		<td><%= support_request.id %></td>
		<td><%= support_request.shared_key %></td>
		<td><%= support_request.ttl %></td>
		<td><%= support_request.expired? ? "yes" : "no" %></td>
		<td><%= support_request.tunnel_created_at.nil? ? "--" : support_request.tunnel_created_at %></td>
		<td><%= support_request.tunnel_created_at.nil? || support_request.expired? ? "no" : "yes" %></td>
		<td>
			<%= link_to support_request do%>
				<% content_tag(:span, "", class: "glyphicon glyphicon-search") %>
			<%end%>
		</td>
	</tr>
	<% end %>
	</tbody>
</table>
<br>
<%= link_to 'New Support request', new_support_request_path %>
