<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<div class="panel-heading"><%= "##{SupportRequest.model_name.human.capitalize} - #{@support_request.id}" %></div>
	<div class="panel-body">
		<p>
		<strong><%= SupportRequest.human_attribute_name(:justification).capitalize %>:</strong>
		<%= @support_request.justification %>
		</p>

		<p>
		<strong><%= SupportRequest.human_attribute_name(:shared_key).capitalize %>:</strong>
		<%= @support_request.shared_key %>
		</p>

		<p>
		<strong><%= SupportRequest.human_attribute_name(:provider).capitalize %>:</strong>
		<%= @support_request.provider %>
		</p>

		<p>
		<strong><%= SupportRequest.human_attribute_name(:created_at).capitalize %>:</strong>
		<%= @support_request.created_at %>
		</p>

		<p>
		<strong><%= SupportRequest.human_attribute_name(:tunnel_created_at).capitalize %>:</strong>
		<%= @support_request.tunnel_created_at.present? ? @support_request.tunnel_created_at.present : '--' %>
		</p>

		<p>
		<strong><%= SupportRequest.human_attribute_name(:ttl).capitalize %>:</strong>
		<%= @support_request.ttl %>
		</p>

		<p>
		<strong><%= SupportRequest.human_attribute_name(:expired).capitalize %>:</strong>
		<%= @support_request.expired? ? t("defaults.yes") : t("defaults.no")%>
		</p>

	</div>
</div>
<%= link_to 'Request list', support_requests_path %>
